app_docker/app_tvnf/TA/NeVe_TA_RF_devops/robot/libs/oss_radio_tools_lib/NetAct/NasdaAccess/NasdaInterface/wsdl/NasdaWSPersistency_operations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

Copyright (C) 2011 Nokia Siemens Networks

Permission to use, copy, modify, and distribute this software and its
documentation for any purpose, without fee, and without a written agreement
is hereby granted, provided that the above copyright notice and this
paragraph and the following two paragraphs appear in all copies.

IN NO EVENT SHALL COPYRIGHT HOLDERS BE LIABLE TO ANY PARTY FOR DIRECT,
INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, INCLUDING LOST
PROFITS, ARISING OUT OF THE USE OF THIS SOFTWARE AND ITS DOCUMENTATION, EVEN
IF COPYRIGHT HOLDERS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

COPYRIGHT HOLDERS SPECIFICALLY DISCLAIM ANY WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
PARTICULAR PURPOSE. THE SOFTWARE PROVIDED HEREUNDER IS ON AN "AS IS" BASIS,
AND COPYRIGHT HOLDERS HAVE NO OBLIGATIONS TO PROVIDE MAINTENANCE, SUPPORT,
UPDATES, ENHANCEMENTS, OR MODIFICATIONS.

-->
<xs:schema
	targetNamespace="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/operations"
	elementFormDefault="qualified" version="1.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/operations"
	xmlns:ns1="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/model"
	xmlns:ns2="http://www.nsn.com/schemas/public/oss/nasda/ws-api/common"
	xmlns:ns3="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/metadata"
    xmlns:ns4="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/query">

    <xs:import schemaLocation="NasdaWS_common.xsd" namespace="http://www.nsn.com/schemas/public/oss/nasda/ws-api/common"></xs:import>
    <xs:import schemaLocation="NasdaWSPersistency_model.xsd" namespace="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/model"></xs:import>
    <xs:import schemaLocation="NasdaWSPersistency_metadata.xsd" namespace="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/metadata"></xs:import>
    <xs:import schemaLocation="NasdaWSPersistency_query.xsd" namespace="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/query"></xs:import>

    <xs:complexType name="GetMOLitesResponse">
  	<xs:complexContent>
  		<xs:extension base="ns2:BaseResponse">
            <xs:sequence>
                <xs:element name="result" maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element ref="tns:batchItemMOLiteResult" maxOccurs="unbounded" minOccurs="0">
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType></xs:element>
            </xs:sequence>
  		</xs:extension>
  	</xs:complexContent>
  </xs:complexType>


  <xs:complexType name="BatchItemMOLiteResult">
        <xs:annotation>
        	<xs:documentation>Represents a batch item result where the value is a single MOLite.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
  		<xs:extension base="ns2:BaseBatchItemResult">
  			<xs:sequence>


  				<xs:element ref="ns1:moLite" maxOccurs="1" minOccurs="0"></xs:element>
  			</xs:sequence>
  		</xs:extension>
  	</xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GetMOLitesRequest">
  	<xs:sequence>


            <xs:element name="moId" type="ns1:MOId" maxOccurs="unbounded" minOccurs="0">
  		</xs:element>

  	</xs:sequence>
  </xs:complexType>

  <xs:element name="batchItemMOLiteResult" type="tns:BatchItemMOLiteResult">
  </xs:element>

  <xs:complexType name="BatchItemMOResult">
        <xs:annotation>
        	<xs:documentation>Represents a batch item result where the value is a single ManagedObject.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
    		<xs:extension base="ns2:BaseBatchItemResult">
    			<xs:sequence>
    				<xs:element ref="ns1:managedObject" maxOccurs="1" minOccurs="0"></xs:element>
    			</xs:sequence>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>
    
    <xs:element name="batchItemMOResult" type="tns:BatchItemMOResult"></xs:element>

    <xs:complexType name="GetMOsRequest">
    	<xs:sequence>
    		<xs:element name="moId" type="ns1:MOId" maxOccurs="unbounded" minOccurs="0"></xs:element>
    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetMOsResponse">
    	<xs:complexContent>
    		<xs:extension base="ns2:BaseResponse">
    			<xs:sequence>
    				<xs:element name="result" maxOccurs="1" minOccurs="0">
    					<xs:complexType>
    						<xs:sequence>
    							<xs:element ref="tns:batchItemMOResult" maxOccurs="unbounded" minOccurs="0">
    							</xs:element>
    						</xs:sequence>
    					</xs:complexType></xs:element>
    			</xs:sequence>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>
    
    
    <xs:element name="GetMOLitesRequest" type="tns:GetMOLitesRequest"></xs:element>
    <xs:element name="GetMOLitesResponse" type="tns:GetMOLitesResponse"></xs:element>
    <xs:element name="GetMOsRequest" type="tns:GetMOsRequest"></xs:element>
    <xs:element name="GetMOsResponse" type="tns:GetMOsResponse"></xs:element>


    <xs:complexType name="GetRelatedMOLitesRequest">
    	<xs:sequence>
            <xs:element name="relationship" type="ns1:RelationshipId" maxOccurs="1" minOccurs="1"></xs:element>
            <xs:element name="moId" type="ns1:MOId" maxOccurs="unbounded" minOccurs="0">
    		</xs:element>
    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetRelatedMOLitesResponse">
        <xs:annotation>
        	<xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexContent>
    		<xs:extension base="ns2:BaseResponse">
    			<xs:sequence>
    				<xs:element name="result" maxOccurs="1" minOccurs="0">
    					<xs:complexType>
    						<xs:sequence>
    							<xs:element ref="tns:batchItemMOLiteSequenceResult" maxOccurs="unbounded" minOccurs="0">
    							</xs:element>
    						</xs:sequence>
    					</xs:complexType>
    				</xs:element>
                </xs:sequence>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>

    
    <xs:complexType name="BatchItemMOLiteSequenceResult">
        <xs:annotation>
        	<xs:documentation>Represents a batch item result where the value is a sequence of MOLites.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
    		<xs:extension base="ns2:BaseBatchItemResult">
    			<xs:sequence>
    				<xs:element ref="ns1:moLite" maxOccurs="unbounded" minOccurs="0"></xs:element>
    			</xs:sequence>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BatchItemMOSequenceResult">
    	<xs:annotation>
    		<xs:documentation>
    			Represents a batch item result where the value is a
    			sequence of ManagedObjects.
    		</xs:documentation>
    	</xs:annotation>
    	<xs:complexContent>
    		<xs:extension base="ns2:BaseBatchItemResult">
    			<xs:sequence>
    				<xs:element ref="ns1:managedObject" maxOccurs="unbounded" minOccurs="0"></xs:element>
    			</xs:sequence>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>

    <xs:element name="batchItemMOLiteSequenceResult" type="tns:BatchItemMOLiteSequenceResult">
    </xs:element>

    <xs:element name="batchItemMOSequenceResult" type="tns:BatchItemMOSequenceResult">
    </xs:element>

    <xs:element name="GetRelatedMOLitesRequest" type="tns:GetRelatedMOLitesRequest">
    </xs:element>

    <xs:element name="GetRelatedMOLitesResponse" type="tns:GetRelatedMOLitesResponse">
    </xs:element>
    
    
    <xs:complexType name="CreateMOsRequest">
        <xs:sequence>
            <xs:element name="managedObject" type="ns1:ManagedObject"
            	maxOccurs="unbounded" minOccurs="0">
            </xs:element>
        </xs:sequence>    
    </xs:complexType>

    <xs:complexType name="UpdateMOsRequest">
        <xs:sequence>
            <xs:element name="managedObject" type="ns1:ManagedObject"
                maxOccurs="unbounded" minOccurs="0">
            </xs:element>
        </xs:sequence>       
    </xs:complexType>

    <xs:complexType name="DeleteMOsRequest">
        <xs:sequence>
            <xs:element name="moId" type="ns1:MOId" maxOccurs="unbounded" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CreateMOsResponse">
    <xs:complexContent>
        <xs:extension base="ns2:BaseResponse">
            <xs:sequence>
                <xs:element name="result" maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element
                                ref="tns:batchItemMOLiteResult" maxOccurs="unbounded" minOccurs="0">
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType></xs:element>
            </xs:sequence>
        </xs:extension>
    </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DeleteMOsResponse">
    <xs:complexContent>
        <xs:extension base="ns2:BaseResponse">
            <xs:sequence>
                <xs:element name="result" maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element
                                ref="tns:batchItemMOLiteResult" maxOccurs="unbounded" minOccurs="0">
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType></xs:element>
            </xs:sequence>
        </xs:extension>
    </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UpdateMOsResponse">
    <xs:complexContent>
        <xs:extension base="ns2:BaseResponse">
            <xs:sequence>
                <xs:element name="result" maxOccurs="1" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element
                                ref="tns:batchItemMOLiteResult" maxOccurs="unbounded" minOccurs="0">
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType></xs:element>
            </xs:sequence>
        </xs:extension>
    </xs:complexContent>

    </xs:complexType>

    <xs:element name="CreateMOsRequest" type="tns:CreateMOsRequest"></xs:element>

    <xs:element name="CreateMOsResponse" type="tns:CreateMOsResponse"></xs:element>

    <xs:element name="UpdateMOsRequest" type="tns:UpdateMOsRequest"></xs:element>

    <xs:element name="UpdateMOsResponse" type="tns:UpdateMOsResponse"></xs:element>

    <xs:element name="DeleteMOsRequest" type="tns:DeleteMOsRequest"></xs:element>
    
    <xs:element name="DeleteMOsResponse" type="tns:DeleteMOsResponse"></xs:element>

	<!-- Create Remove operations for RelationshipService WS -->

	<xs:complexType name="BatchItemRelationshipResult">
		<xs:complexContent>
			<xs:extension base="ns2:BaseBatchItemResult"></xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="RelationshipsResponse">
        <xs:complexContent>
    		<xs:extension base="ns2:BaseResponse">
    			<xs:sequence>
    				<xs:element name="result" maxOccurs="1" minOccurs="0">
    					<xs:complexType>
    						<xs:sequence>
    							<xs:element ref="tns:batchItemRelationshipResult" maxOccurs="unbounded" minOccurs="0">
    							</xs:element>
    						</xs:sequence>
    					</xs:complexType>
    				</xs:element>
                </xs:sequence>
    		</xs:extension>
    	</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="RelationshipsRequest">
		<xs:sequence >
			<xs:element name="relationship" type="ns1:Relationship" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
    <xs:element name="batchItemRelationshipResult" type="tns:BatchItemRelationshipResult"></xs:element>
	<xs:element name="CreateRelationshipsRequest" type="tns:RelationshipsRequest"></xs:element>
	<xs:element name="CreateRelationshipsResponse" type="tns:RelationshipsResponse"></xs:element>
	<xs:element name="RemoveRelationshipsRequest" type="tns:RelationshipsRequest"></xs:element>
	<xs:element name="RemoveRelationshipsResponse" type="tns:RelationshipsResponse"></xs:element>
	
	<xs:complexType name="QueryMOLitesRequest">
    	<xs:sequence>
    		<xs:element ref="ns4:query" maxOccurs="1" minOccurs="1"></xs:element>
    		<xs:element ref="ns4:variableBindings" maxOccurs="1"
    			minOccurs="0">
    		</xs:element>

    	</xs:sequence>
    </xs:complexType>

    <xs:complexType name="QueryMOLitesResponse">
        <xs:complexContent>
            <xs:extension base="ns2:BaseResponse">
                <xs:sequence>
                	<xs:element name="result" maxOccurs="1" minOccurs="0">
                		<xs:complexType>
                			<xs:sequence>
                				<xs:element
                					ref="ns1:moLite" maxOccurs="unbounded" minOccurs="0">
                				</xs:element>
                			</xs:sequence>
                		</xs:complexType>
                	</xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    
    </xs:complexType>

    <xs:element name="QueryMOLitesRequest"
    	type="tns:QueryMOLitesRequest">
    </xs:element>

    <xs:element name="QueryMOLitesResponse"
    	type="tns:QueryMOLitesResponse">
    </xs:element>

    <xs:complexType name="GetMetadataRequest">
    </xs:complexType>

    <xs:complexType name="GetMetadataResponse">
    	<xs:complexContent>
    		<xs:extension base="ns2:BaseResponse">
    			<xs:sequence>

    				<xs:element name="result" maxOccurs="1" minOccurs="0">
    					<xs:complexType>
    						<xs:sequence>
    							<xs:element
    								ref="ns3:managedObjectDefs" maxOccurs="1" minOccurs="0">
    							</xs:element>
    							<xs:element
    								ref="ns3:relationshipDefs" maxOccurs="1" minOccurs="0">
    							</xs:element>
    						</xs:sequence>
    					</xs:complexType>
    				</xs:element>
    			</xs:sequence>
    		</xs:extension>
    	</xs:complexContent>
    </xs:complexType>

    <xs:element name="GetMetadataRequest"
    	type="tns:GetMetadataRequest">
    </xs:element>

    <xs:element name="GetMetadataResponse"
    	type="tns:GetMetadataResponse">
    </xs:element>
    
</xs:schema>
