app_docker/app_tvnf/TA/NeVe_TA_RF_devops/robot/libs/oss_radio_tools_lib/NetAct/NasdaAccess/NasdaInterface/wsdl/NasdaWSPersistencyService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="NasdaWSPersistency" 

targetNamespace="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/NasdaWSPersistency/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/NasdaWSPersistency/" xmlns:ns1="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/operations" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <jaxws:bindings xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
    <jaxws:package name="com.nsn.oss.nasda.access.irp.ws.persistency"/>
  </jaxws:bindings>
      
  <wsdl:types>

    <xsd:schema>
      <xsd:import namespace="http://www.nsn.com/schemas/public/oss/nasda/ws-api/common" schemaLocation="NasdaWS_common.xsd"/>
    </xsd:schema>
    
    <xsd:schema>
      <xsd:import namespace="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/model" schemaLocation="NasdaWSPersistency_model.xsd"/>
    </xsd:schema>

	<xsd:schema>
      <xsd:import namespace="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/query" schemaLocation="NasdaWSPersistency_query.xsd"/>
    </xsd:schema>

    <xsd:schema>
      <xsd:import namespace="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/metadata" schemaLocation="NasdaWSPersistency_metadata.xsd"/>
    </xsd:schema>

    <xsd:schema>
      <xsd:import namespace="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/operations" schemaLocation="NasdaWSPersistency_operations.xsd"/>
    </xsd:schema>
    
  </wsdl:types>

  <wsdl:message name="getMOLitesRequest">
        <wsdl:part name="parameters" element="ns1:GetMOLitesRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMOLitesResponse">
  	<wsdl:part name="parameters" element="ns1:GetMOLitesResponse"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="getManagedObjectsRequest">
   	<wsdl:part name="parameters" element="ns1:GetMOsRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getManagedObjectsResponse">
  	<wsdl:part name="parameters" element="ns1:GetMOsResponse"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="getRelatedMOLitesRequest">
  	<wsdl:part name="parameters" element="ns1:GetRelatedMOLitesRequest"></wsdl:part>
  </wsdl:message>    <wsdl:message name="getRelatedMOLitesResponse">  	<wsdl:part name="parameters" element="ns1:GetRelatedMOLitesResponse"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="createManagedObjectsRequest">
  	<wsdl:part name="parameters" element="ns1:CreateMOsRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createManagedObjectsResponse">
  	<wsdl:part name="parameters" element="ns1:CreateMOsResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateManagedObjectsRequest">
  	<wsdl:part name="parameters" element="ns1:UpdateMOsRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateManagedObjectsResponse">
  	<wsdl:part name="parameters" element="ns1:UpdateMOsResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteManagedObjectsRequest">
  	<wsdl:part name="parameters" element="ns1:DeleteMOsRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteManagedObjectsResponse">
  	<wsdl:part name="parameters" element="ns1:DeleteMOsResponse"></wsdl:part>
  </wsdl:message>


	<wsdl:message name="createRelationshipsResponse">
		<wsdl:part name="parameters" element="ns1:CreateRelationshipsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="createRelationshipsRequest">
		<wsdl:part name="parameters" element="ns1:CreateRelationshipsRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteRelationshipsResponse">
		<wsdl:part name="parameters" element="ns1:RemoveRelationshipsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="deleteRelationshipsRequest">
		<wsdl:part name="parameters" element="ns1:RemoveRelationshipsRequest" ></wsdl:part>
	</wsdl:message>
	
  <wsdl:message name="queryMOLitesRequest">
  	<wsdl:part name="parameters" element="ns1:QueryMOLitesRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryMOLitesResponse">
  	<wsdl:part name="parameters" element="ns1:QueryMOLitesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMetadataRequest">
  	<wsdl:part name="parameters" element="ns1:GetMetadataRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMetadataResponse">
  	<wsdl:part name="parameters" element="ns1:GetMetadataResponse"></wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="NasdaWSPersistencyPortType">
    <wsdl:operation name="getMOLites">
    	<wsdl:input message="tns:getMOLitesRequest"></wsdl:input>
    	<wsdl:output message="tns:getMOLitesResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getManagedObjects">
    	<wsdl:input message="tns:getManagedObjectsRequest"></wsdl:input>
    	<wsdl:output message="tns:getManagedObjectsResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelatedMOLites">
    	<wsdl:input message="tns:getRelatedMOLitesRequest"></wsdl:input>
    	<wsdl:output message="tns:getRelatedMOLitesResponse"></wsdl:output>
    </wsdl:operation>   
    <wsdl:operation name="createManagedObjects">
    	<wsdl:input message="tns:createManagedObjectsRequest"></wsdl:input>
    	<wsdl:output message="tns:createManagedObjectsResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateManagedObjects">
    	<wsdl:input message="tns:updateManagedObjectsRequest"></wsdl:input>
    	<wsdl:output message="tns:updateManagedObjectsResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteManagedObjects">
    	<wsdl:input message="tns:deleteManagedObjectsRequest"></wsdl:input>
    	<wsdl:output message="tns:deleteManagedObjectsResponse"></wsdl:output>
    </wsdl:operation>

	<wsdl:operation name="createRelationships">
		<wsdl:input message="tns:createRelationshipsRequest" />
		<wsdl:output message="tns:createRelationshipsResponse" />
	</wsdl:operation>
	<wsdl:operation name="deleteRelationships">
		<wsdl:input message="tns:deleteRelationshipsRequest" />
		<wsdl:output message="tns:deleteRelationshipsResponse" />
	</wsdl:operation>
	
	<wsdl:operation name="queryMOLites">
    	<wsdl:documentation>Returns MOLites calculated by the requested query.</wsdl:documentation>
    	<wsdl:input message="tns:queryMOLitesRequest"></wsdl:input>
    	<wsdl:output message="tns:queryMOLitesResponse"></wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getMetadata">
    	<wsdl:documentation>Returns metadata definitions.</wsdl:documentation>
    	<wsdl:input message="tns:getMetadataRequest"></wsdl:input>
    	<wsdl:output message="tns:getMetadataResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="NasdaWSPersistencyPortBinding"
  	type="tns:NasdaWSPersistencyPortType">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />

  	<wsdl:operation name="getMOLites">
  		<soap:operation
  			soapAction="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/NasdaWSPersistency/getMOLites" />
  		<wsdl:input>
  			<soap:body use="literal" parts="parameters" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getManagedObjects">
  		<soap:operation
  			soapAction="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/NasdaWSPersistency/getManagedObjects" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="getRelatedMOLites">
  		<soap:operation
  			soapAction="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/NasdaWSPersistency/getRelatedMOLites" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="createManagedObjects">
  		<soap:operation
  			soapAction="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/NasdaWSPersistency/createManagedObjects" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="updateManagedObjects">
  		<soap:operation
  			soapAction="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/NasdaWSPersistency/updateManagedObjects" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="deleteManagedObjects">
  		<soap:operation
  			soapAction="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/NasdaWSPersistency/deleteManagedObjects" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>

	<wsdl:operation name="createRelationships">
		<soap:operation
			soapAction="http://www.nsn.com/schemas/public/oss/nasda/ws-api/relationshipservice/createRelationships" />
		<wsdl:input>
			<soap:body use="literal" />
		</wsdl:input>
		<wsdl:output>
			<soap:body use="literal" />
		</wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="deleteRelationships">
		<soap:operation
			soapAction="http://www.nsn.com/schemas/public/oss/nasda/ws-api/relationshipservice/removeRelationships" />
		<wsdl:input>
			<soap:body use="literal" />
		</wsdl:input>
		<wsdl:output>
			<soap:body use="literal" />
		</wsdl:output>
	</wsdl:operation>
	
	<wsdl:operation name="queryMOLites">
        <soap:operation
            soapAction="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/NasdaWSPersistency/queryMOLites" />
        <wsdl:input>
            <soap:body use="literal" />
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal" />
        </wsdl:output>
    </wsdl:operation>
  	
  	<wsdl:operation name="getMetadata">
        <soap:operation
            soapAction="http://www.nsn.com/schemas/public/oss/nasda/ws-api/persistency/NasdaWSPersistency/getMetadata" />
        <wsdl:input>
            <soap:body use="literal" />
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal" />
       </wsdl:output>
    </wsdl:operation>
    
  </wsdl:binding>

  <wsdl:service name="NasdaWSPersistencyService">
    <wsdl:port binding="tns:NasdaWSPersistencyPortBinding" name="NasdaWSPersistencyPort">
      <soap:address location="http://SERVER_NAME/netact/oss/nasda/ws-api/NasdaWSPersistencyServiceSOAP"/>
    </wsdl:port>

  </wsdl:service>
</wsdl:definitions>
